.list_employee {
  margin-top: 25px;
  margin-left: 51px;
  margin-right: 51px;
}

.list_employee ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.list_employee ul li {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.list_employee ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background-color: transparent;
}

.list_employee ul li button:hover {
  opacity: 0.8;
}

.list_employee ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

.list_employee ul li p + strong {
  margin-top: 32px;
}

.list_employee ul li p {
  color: #2f2f31;
  line-height: 21px;
  font-size: 16px;
}

.content label {
  color: #808080;
}
