.login_content {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login_content section.form {
  width: 100%;
  max-width: 350px;
}

.login_content section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

.signup_content {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_content .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup_content .content section {
  width: 100%;
  max-width: 380px;
}

.signup_content .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.signup_content .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.signup_content .content form {
  width: 100%;
  max-width: 450px;
}
.signup_content .content form input {
  margin-top: 8px;
}
.signup_content .content form .input-group {
  display: flex;
}

.signup_content .content form .input-group input + input {
  margin-left: 8px;
}
